<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="eu.evesuite.client.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="EVE Suite Perspective"
            class="eu.evesuite.client.perspective.Perspective"
            id="eu.evesuite.client.perspective.Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.evesuite.client.application"
            name="EVE Suite">
         <property
               name="windowImages"
               value="icons/icon_16.png,icons/icon_32.png,icons/icon_64.png,icons/logo_128.png">
         </property>
		<property
          name="aboutImage" 
          value="icons/logo_128.png"/>
      	<property
          name="aboutText" 
          value="EVE Suite - http://github.com/evesuite/evesuite"/>
       <property
             name="appName"
             value="EVE Suite">
       </property>
       <property
             name="startupForegroundColor"
             value="000000">
       </property>
       <property
             name="startupMessageRect"
             value="7,252,445,20">
       </property>
       <property
             name="startupProgressRect"
             value="5,275,445,15">
       </property>
       <property
             name="preferenceCustomization"
             value="plugin_customization.ini">
       </property>         
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="File"
               mnemonic="&amp;File"
               tooltip="File">
            <command
                  commandId="org.eclipse.ui.file.save"
                  mnemonic="S"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  mnemonic="P"
                  style="push">
            </command>
            <separator
                  name="eu.evesuite.client.separator1">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  mnemonic="E"
                  style="push">
            </command>
         </menu>
         <menu
               id="help"
               label="Help"
               mnemonic="&amp;Help"
               tooltip="Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  id="about"
                  label="About"
                  mnemonic="&amp;About"
                  style="push"
                  tooltip="About">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="eu.evesuite.client.toolbar">
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  id="exit"
                  label="Exit"
                  mnemonic="&amp;Exit"
                  style="push"
                  tooltip="Exit">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="featureProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.evesuite.client.application"
            name="EVE Suite">
         <property
               name="appName"
               value="EVE Suite">
         </property>
         <property
               name="aboutImage"
               value="icons/logo_128.png">
         </property>
         <property
               name="aboutText"
               value="EVE Suite - http://github.com/evesuite/evesuite">
         </property>
         <property
               name="windowImages"
               value="icons/icon_16.png,icons/icon_32.png,icons/icon_64.png,icons/logo_128.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
      </product>
   </extension>
   <extension
         id="project"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.evesuite.client.application"
            name="EVE Suite">
         <property
               name="windowImages"
               value="icons/icon_16.png,icons/icon_32.png,icons/icon_64.png,icons/logo_128.png">
         </property>
         <property
               name="aboutText"
               value="EVE Suite - http://github.com/evesuite/evesuite">
         </property>
         <property
               name="aboutImage"
               value="icons/logo_128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="EVE Suite">
         </property>
      </product>
   </extension>
   <extension
         id="evesuiteproduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.evesuite.client.application"
            name="EVE Suite Product">
         <property
               name="appName"
               value="EVE Suite Product">
         </property>
      </product>
   </extension>

</plugin>
