<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            description="EVE Suite EVE Command Category"
            id="eu.evesuite.eve.ui.commands.category"
            name="EVE Suite EVE Category">
      </category>
      <command
            categoryId="eu.evesuite.eve.ui.commands.category"
            id="eu.evesuite.eve.ui.commands.marketViewCommand"
            name="Market">
      </command>
      <command
            name="Connect"
            categoryId="eu.evesuite.eve.ui.commands.category"
            id="eu.evesuite.eve.ui.commands.connectCommand">
      </command>
      <command
            categoryId="eu.evesuite.eve.ui.commands.category"
            id="eu.evesuite.eve.ui.commands.disconnectCommand"
            name="Disconnect">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="eu.evesuite.eve.ui.commands.connectCommand"
            class="eu.evesuite.eve.ui.handlers.ConnectHandler">
      </handler>
      <handler
            class="eu.evesuite.eve.ui.handlers.DisconnectHandler"
            commandId="eu.evesuite.eve.ui.commands.disconnectCommand">
      </handler>
      <handler
            class="eu.evesuite.eve.ui.handlers.MarketViewHandler"
            commandId="eu.evesuite.eve.ui.commands.marketViewCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="EVE"
               mnemonic="M"
               id="eu.evesuite.eve.ui.menus.mainMenu">
            <command
                  commandId="eu.evesuite.eve.ui.commands.marketViewCommand"
                  id="eu.evesuite.eve.ui.menus.marketViewCommand"
                  mnemonic="M">
            </command>
            <separator
                  name="eu.evesuite.eve.ui.separator2">
            </separator>
            <command
                  commandId="eu.evesuite.eve.ui.commands.connectCommand"
                  mnemonic="C"
                  id="eu.evesuite.eve.ui.menus.connectCommand">
            </command>
            <command
                  commandId="eu.evesuite.eve.ui.commands.disconnectCommand"
                  id="eu.evesuite.eve.ui.menus.disconnectCommand"
                  mnemonic="D">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="eu.evesuite.eve.ui.toolbars.mainToolbar">
            <command
                  commandId="eu.evesuite.eve.ui.commands.marketViewCommand"
                  id="eu.evesuite.eve.ui.toolbars.marketViewCommand"
                  mnemonic="M">
            </command>
            <separator
                  name="eu.evesuite.eve.ui.separator3">
            </separator>
            <command
                  commandId="eu.evesuite.eve.ui.commands.connectCommand"
                  id="eu.evesuite.eve.ui.toolbars.connectCommand">
            </command>
            <command
                  commandId="eu.evesuite.eve.ui.commands.disconnectCommand"
                  id="eu.evesuite.eve.ui.toolbars.disconnectCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.evesuite.eve.ui.preferences.PreferencePage"
            id="eu.evesuite.eve.ui.preferences.PreferencePage"
            name="EVE Suite EVE Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.evesuite.eve.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eu.evesuite.eve.ui"
            name="EVE Suite EVE UI">
      </category>
      <view
            category="eu.evesuite.eve.ui"
            class="eu.evesuite.eve.ui.views.MarketView"
            id="eu.evesuite.eve.ui.views.MarketView"
            name="Market View">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="eu.evesuite.eve.jpa.InvMarketGroup"
            class="eu.evesuite.eve.ui.adapters.InvMarketGroupAdapterFactory">
         <adapter
               type="eu.evesuite.eve.ui.adapters.InvMarketGroupAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="eu.evesuite.eve.jpa.InvType"
            class="eu.evesuite.eve.ui.adapters.InvTypeAdapterFactory">
         <adapter
               type="eu.evesuite.eve.ui.adapters.InvTypeAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="eu.evesuite.eve.ui.providers.MarketContentProvider"
            class="eu.evesuite.eve.ui.adapters.MarketContentProviderAdapterFactory">
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="eu.evesuite.commons.jpa.evemetrics.IMarket"
            class="eu.evesuite.eve.ui.adapters.IMarketAdapterFactory">
         <adapter
               type="eu.evesuite.eve.ui.adapters.IMarketAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="eu.evesuite.eve.jpa.EveIcon"
            class="eu.evesuite.eve.ui.adapters.EveIconAdapterFactory">
         <adapter
               type="eu.evesuite.eve.ui.adapters.EveIconAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.evesuite.eve.ui.editor.InvTypeEditor"
            default="false"
            id="eu.evesuite.eve.ui.editor.InvTypeEditor"
            name="InvType Editor">
      </editor>
   </extension>
</plugin>
